<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="false">

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5p %-15t %c{0}:%L - %m%n</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="stdout"/>
  </root>

</configuration>
